<%-include("layout/header")%>
    <main style="text-align: center;">
        <h1>Profile Username: <span style="color: forestgreen"><%= username %></span></h1>
    </main>
    <%-include("layout/footer")%>